@model List<ResultRoomDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<div class="col-lg-6 mx-auto">
    <div class="card">
        <div class="card-body">
            <a href="/AdminRoom/AddRoom/" class="btn btn-primary float-right">Yeni Oda Oluştur</a>
            <div><br /></div>
            <div><br /></div>
            <h4 class="card-title">ODA LİSTESİ LİSTESİ</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-striped verticle-middle">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Oda Numarası</th>
                            <th scope="col">Başlık</th>
                            <th scope="col">İŞLEMLER</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <th>@count</th>
                                <td>@item.RoomNumber</td>
                                <td>@item.Title</td>
                                <td>
                                    <span>
                                        <a href="/AdminRoom/UpdateRoom/@item.RoomID" data-toggle="tooltip" data-placement="top" class="btn btn-outline-info"><i class="fa fa-edit"></i> Güncelle</a>
                                        <a href="/AdminRoom/DeleteRoom/@item.RoomID" data-toggle="tooltip" data-placement="top" class="btn btn-outline-danger"><i class="fa fa-times"></i> Sil</a>
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
